{% extends "index.html" %}
{% block body %}
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
  <div class="container">
	<div id="myCarousel" class="carousel slide">
	<!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>
  
	<!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
  
		<div class="item active">
			<a href="#" data-toggle="modal" data-target="#image1">
			  <img src="static/images/site1_old.jpg" alt="preview before">
			</a>
		</div>
	
		<div class="item">
			<a href="#" data-toggle="modal" data-target="#image2">
			  <img src="static/images/site1_new.jpg" alt="preview after">
			</a>
		</div>

		<div class="item">
			<a href="#" data-toggle="modal" data-target="#image3">
			  <img src="static/images/site2_old.jpg" alt="preview before">
			</a>
		</div>
	
		<div class="item">
			<a href="#" data-toggle="modal" data-target="#image4">
			  <img src="static/images/site2_new.jpg" alt="preview after">
			</a>
		</div>
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>
	</div>
  </div>
  
  <div id="image1" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		  <div class="modal-body">
			  <img src="static/images/site1_old.jpg" class="img-responsive">
		  </div>
	  </div>
	</div>
  </div>
  <div id="image2" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		  <div class="modal-body">
			  <img src="static/images/site1_new.jpg" class="img-responsive">
		  </div>
	  </div>
	</div>
  </div>
  <div id="image3" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		  <div class="modal-body">
			  <img src="static/images/site2_old.jpg" class="img-responsive">
		  </div>
	  </div>
	</div>
  </div>
  <div id="image4" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		  <div class="modal-body">
			  <img src="static/images/site2_new.jpg" class="img-responsive">
		  </div>
	  </div>
	</div>
  </div>

{% endblock %}

		  <div class="caption">
			<p>The client was happy with the content and functionality of their original site but wanted to
			give it a modern feel. Our team went in and removed all of the table elements and created a fully
			responsive mobile, tablet and desktop UI.</p>
		  </div>
		</div>
	  </div>
	  <div class="col-xs-6 col-md-3">
		<div class="thumbnail">
		<a href="#" data-toggle="modal" data-target="#image1">
		  <img src="static/images/site1_new.jpg">
		</a>
		<div id="image1" class="modal fade" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<img src="static/images/site1_new.jpg" class="img-responsive">
				</div>
			</div>
		  </div>
		</div>
		  <div class="caption">
			<p>This site was rebuilt from the ground up. We skinned the original site for its content
			and gave it a complete back-end and front-end overhaul. The layout and functionality
			remained the same, but the new site is fully responsive with a modern look.</p>
		  </div>


