<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href="static/css/styles.css">
        <title>Webovation</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="webovation">Webovation</a></li> 
                    <li><a href="services">Services</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="contactus">Contact Us</a></li> 
                </ul> 
        </nav>
        {% block body %}
        {% endblock %}
    </body>
    <div class="footer">
    </div>
</html>
