{% extends "index.html" %}
{% block body %}

{% if login_status and account == 'admin' or account == 'superadmin' %}
<center><h2>Write a Review</h2>
<div class="review-form">
<form action="{{ url_for('war') }}" method=post>
<fieldset class="form-group">
  <label form="merchant_group_id">Merchant Group ID</label>
  <input type="text" class="form-control" name="merchant_group_id" id="merchant_group_id" placeholder="Enter Merchant Group ID" required="required">
<fieldset class="form-group">
  <label form="page_id">Page ID</label>
  <input type="text" class="form-control" name="page_id" id="page_id" placeholder="Enter Page ID" required="required">
</fieldset>
<button type="submit" class="btn btn-success">Update</button>
</form>
</div>
</center>

{% elif login_status and account == 'basic' %}
<center><h2>Write a Review</h2>
<div class="review-form">
<form action="{{ url_for('war') }}" method=post>
<fieldset class="form-group">
  <label form="page_id">Page ID</label>
  <input type="text" class="form-control" name="page_id" id="page_id" placeholder="Enter Page ID" required="required">
</fieldset>
<button type="submit" class="btn btn-success">Update</button>
</form>
</div>
</center>

{% else %}
<Center><h2>Login</h2>
<div class="container">
<form action="{{ url_for('index') }}" method=post>
  <fieldset class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required="required">
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required="required">
  </fieldset>
  <center><button type="submit" class="btn btn-success">Login</button></center>
</form>
</div>
</center>
{% endif %}

{% if login_status and page_id != 'null' %}

<center>
<script type="text/javascript">


var pr_merchant_group_id='{{ merchant_group_id }}';
var pr_site_id=1;
var pr_page_id='{{ page_id }}'; 
var pr_page_id_variant='';
var pr_merchant_user_email='';
var pr_style_sheet = 'static/css/styles.css'

</script>
<script type="text/javascript" language="javascript" src="https://cdn.powerreviews.com/repos/{{ merchant_group_id }}/pr/pwr/engine/js/appLaunch.js"></script>
</center>

{% endif %}

{% endblock %}