{% extends "index.html" %}
{% block body %}
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>

        <div class="row">
            <div class="col-md-8" style="padding-left:25px">
				<p>V&V Construction offers a seventy-five year history of service and experience in the Chicago land area.  We combine our "hands on" philosophy with generations of expertise for the purpose of achieving client solutions with proven effective results.  From new construction to the most challenging of renovations, V&V Construction strives to provide clients turnkey projects that exceed expectations</p>
				<p>At V&V, you will deal direct with the owners.  Phill, Mark, and Nick Vazzana will assist with your Design Build project, or construct from architectural drawings and specifications</p> 
				Our specialties include, but are not limited to the following<br><br/>
				<strong>Commercial</strong>
				<ul class="list-styled">
					<li>Additions</li>
					<li>Concrete</li>
					<li>Demolition</li>
					<li>Doors</li>
					<li>Flooring</li>
					<li>Flow plans</li>
					<li>Masonry</li>
					<li>Offices</li>
					<li>Roofing</li>
					<li>Store fronts</li>
					<li>Windows</li>
				</ul>
				<strong>Industrial</strong>
				<ul class="list-styled">
					<li>Coolers</li>
					<li>Freezers</li>
					<li>Production</li>
					<li>U.S.D.A. compliant</li>
					<li>Flow plans</li>
				</ul>		
            </div>
            <div class="col-md-4">
                <img src="static/vv.jpg"/>
            </div>
        </div>

{% endblock %}
