
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
		<head> 

			  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<!-- Use IE7 mode --> 
			<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/> 
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

	
	<title>V&V Construction</title> 
		</head> 
			
		<body>	
					<a href="index.jsp">

						<img src="vvlogo.bmp" border="0" width="100%"></a> 
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a ref="index.jsp">Home <span class="sr-only">(current)</span></a></li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Commercial <span class="caret"></span></a>
          <ul class="dropdown-menu">
  <li><a href="coolers.jsp">Coolers & Freezers</a></li> 
  <li><a href="doors.jsp">Doors</a></li> 
  <li><a href="equipment.jsp">Equipment</a></li>  
</ul>
</li>  
<li><a href="demo.jsp">Demolition</a></li> 
<li><a href="residential.jsp">Residential</a></li>
<li><a href="facades.jsp">Facades</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="clients.jsp">Our Clients</a></li>   
<li><a href="contactus.jsp">Contact Us</a></li> 
</ul> 
</div> 
</div>
</nav>
 <ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
 <div class="row">
  <div class="col-md-8" style="padding-left:25px">
				<p>V&V Construction offers a seventy-five year history of service and experience in the Chicago land area.  We combine our "hands on" philosophy with generations of expertise for the purpose of achieving client solutions with proven effective results.  From new construction to the most challenging of renovations, V&V Construction strives to provide clients turnkey projects that exceed expectations</p>
				<p>At V&V, you will deal direct with the owners.  Phill, Mark, and Nick Vazzana will assist with your Design Build project, or construct from architectural drawings and specifications</p> 
				Our specialties include, but are not limited to the following<br><br/>
				<strong>Commercial</strong>
				<ul class="list-styled">
					<li>Additions</li>
					<li>Concrete</li>
					<li>Demolition</li>
					<li>Doors</li>
					<li>Flooring</li>
					<li>Flow plans</li>
					<li>Masonry</li>
					<li>Offices</li>
					<li>Roofing</li>
					<li>Store fronts</li>
					<li>Windows</li>
				</ul>
				<strong>Industrial</strong>
				<ul class="list-styled">
					<li>Coolers</li>
					<li>Freezers</li>
					<li>Production</li>
					<li>U.S.D.A. compliant</li>
					<li>Flow plans</li>
				</ul>		
</div>
<div class="col-md-4">

<img src="vv.jpg"/>
</div>
</div>
<div class="row">
  <div class="col-md-6" style="padding-left:25px; padding-bottom:25px">
			Please see <a href="clients.jsp">Our Clients</a> for a sample of some of our satisfied customers

</div> 
</div> <!--  header --> 
			<div id="footer"> 
				<div class="row">
  <div class="col-md-6" style="padding-left:25px">

 
								<a href="mailto:nick@vandvconstruction.com"><img src="vvmail.jpg"> </a>
							</div>
  <div class="col-md-6" style="padding-right:25px">
								<p style="float:right">V&V Corporation. All rights reserved.</p>
							</div> 
					
				</div>					
			</div> 
		</div> 
	</div>
	</body> 
</html> 	