<html>
<head>
<title>Client Page</title>
</head>
<body>

<script type="text/javascript" src={{ fulljs }}></script>

<div class="pr_snippet_category">
	<script type="text/javascript">
	var pr_locale= "en_US";
	var pr_snippet_min_reviews=1;
	var pageid = "{{ pageid }}";
	var pr_zip_location="//media.petsathome.com/wcsstore/pah-as01/";
	POWERREVIEWS.display.snippet(document, { pr_page_id : pageid });
	</script>
	<br>
	<a href="http://localhost:5000/review.html?pr_page_id={{ pageid }}">Write A Review</a>
</div>  


<script type="text/javascript">POWERREVIEWS.display.engine (document,{ pr_page_id : "{{ pageid }}"  });</script>
  
  
    
</body>
</html> 