<html>
<head>
<title>Client Page</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">

</head>
<body>
	
<nav class="navbar navbar-default navbar-static-top">

        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        
        <li><a href="clientsite">Client</a></li>
        <li><a href="getclient">Test Client</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="feedchecker.html">Run Feed Checker</a></li>
        <li><a href="products.html">Dummy Products</a></li>
        <li><a href="static/datafile.txt">Data File</a></li>
	</ul>

</nav>
<h1>Dan</h1>


<script type="text/javascript" src="http://www.lifeextension.com/LEF/pwr/engine/js/full.js"></script>

<div class="pr_snippet_category">
	<script type="text/javascript">
	var pr_locale= "en_US";
	var pr_zip_location = "http://www.lifeextension.com/LEF";
	var pr_style_sheet = "http://www.lifeextension.com/LEF/Content/css/hg-reviews-products.css";
	var pageid = "01323";
	POWERREVIEWS.display.snippet(document, { pr_page_id : pageid });
	</script>
	<br>
</div>  

<!--
<script type="text/javascript">(function(p, o, w, e, r) {
  p.POWERREVIEWS = p.POWERREVIEWS || {config: {}};
  p.POWERREVIEWS.config.merchant_id = '870351';
  p.POWERREVIEWS.config.page_id = '614789';
  p.POWERREVIEWS.config.locale = 'en_US';
  p.POWERREVIEWS.config.srwVariant = 'long';
  r = o.getElementsByTagName('body')[0]; e = o.createElement('div');
  e.id = 'pr-srw-container'; e.className = 'p-w-r'; r.appendChild(e, r);
  if (!document.getElementById('pwr-ui')) {
    e = o.createElement(w);
    e.src = '//ui.powerreviews.com/stable/3.0/ui.js';
    e.id = 'pwr-ui'; e.onload = function() {POWERREVIEWS.display.renderSRW};
    r.appendChild(e, r);
  }
}(window, document, 'script'));</script>
-->
    
</body>
</html> 