<html>
<head>
<title>Get Client URL</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">

</head>
<body>
	
<nav class="navbar navbar-default navbar-static-top">

        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        
        <li><a href="clientsite">Client</a></li>
        <li><a href="getclient">Test Client</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="feedchecker.html">Run Feed Checker</a></li>
        <li><a href="products.html">Dummy Products</a></li>
        <li><a href="static/datafile.txt">Data File</a></li>
	</ul>

</nav>

<center>
  <form action="{{ url_for('getclient') }}" method=post class="form-inline">
    <dl>
      <dt>URL:
      <dd><input class="form-control" type=text name=url>
    </dl>
  	  <button class="btn btn-primary" name=create type=submit value="1">Create Page</button>
  </form>
  
</center> 
    
</body>
</html> 