	<html>
        </body>

    
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">

<nav class="navbar navbar-default navbar-static-top">

        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        
        <li><a href="clientsite">Client</a></li>
        <li><a href="getclient">Test Client</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="feedchecker.html">Run Feed Checker</a></li>
        <li><a href="products.html">Dummy Products</a></li>
        <li><a href="static/datafile.txt">Data File</a></li>
	</ul>

</nav>

<h1>Write a Review</h1>
<!--
<div class="pr_write_review">
<script type="text/javascript">
var pr_style_sheet="http://cdn.powerreviews.com/aux/47420/642090/css/powerreviews_express.css";
</script>
<script type="text/javascript" src="static/ulta/pwr/engine/js/appLaunch.js"></script>--> <!--Uncomment to test client
<script type="text/javascript" src="http://qa3.ulta.com/reviewcenter/pwr/engine/js/appLaunch.js"></script>
</div>
-->
<!--
<div class="pr_write_review">
<script type="text/javascript">
var pr_style_sheet="http://cdn.powerreviews.com/aux/47420/642090/css/express.css";
</script>
<script type="text/javascript" src="http://cdn.powerreviews.com/repos/47420/pr/pwr/engine/js/appLaunch.js"></script>
</div>-->
<script type="text/javascript" src="static/pwr/engine/js/full.js "></script>

<script type="text/javascript">
var pr_locale = "sv_SE";
var pr_zip_location="static/";


var pr_style_sheet="static/pwr/engine/pr_styles_review_in_mini.css";

</script>
<script type="text/javascript">


var pr_merchant_group_id=17262;
var pr_site_id=1;
var pr_page_id=934167; 
var pr_page_id_variant='';
var pr_merchant_user_email='';
var pr_style_sheet='static/pwr/engine/pr_styles_review_in_mini.css';

</script>
<script type="text/javascript" language="javascript" src="static/pwr/engine/js/appLaunch.js"></script>



</body>
    </html>