	<html>
        </body>

    
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">

<nav class="navbar navbar-default navbar-static-top">

        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        
        <li><a href="clientsite">Client</a></li>
        <li><a href="getclient">Test Client</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="feedchecker.html">Run Feed Checker</a></li>
        <li><a href="products.html">Dummy Products</a></li>
        <li><a href="static/datafile.txt">Data File</a></li>
	</ul>

</nav>

<h1>Write a Review</h1>

<div class="pr_write_review">
<script type="text/javascript">
var pr_style_sheet="http://cdn.powerreviews.com/aux/11683/9240/css/powerreviews_express.css";
</script>
<!--script type="text/javascript" src="static/ulta/pwr/engine/js/appLaunch.js"></script>--> <!--Uncomment to test client -->
<script type="text/javascript" src="http://cdn.powerreviews.com/repos/11683/pr/pwr/engine/js/appLaunch.js"></script>
</div>
</body>
    </html>