{% extends "index.html" %}
{% block body %}
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
<div class="container">
<div class="row">
<div class="col-xs-6 col-md-4">
<p>QCS has been providing mechanical contracting services throughout the
Chicagoland area since 1994. Operating as a union contractor, we focus
primarily on commercial and institutional mechanical construction.</p>

  <h4>Scope of Services Include:</h4>
		<ul class="list-group">
		<li class="list-group-item">Boilers</li>
		<li class="list-group-item">Chillers </li>
		<li class="list-group-item">Compressors</li>
		<li class="list-group-item">Cooling Towers</li>
		<li class="list-group-item">Heat Exchangers</li>
		<li class="list-group-item">Pumps</li>
		<li class="list-group-item">Heating</li>
		<li class="list-group-item">Air Conditioning</li>
		<li class="list-group-item">Process Piping</li>
		<li class="list-group-item">Ventilation</li>
		<li class="list-group-item">Maintenance</li>
		<li class="list-group-item">Refrigeration</li>
		<li class="list-group-item">Service</li>
		</ul>
</div>
    <div class="col-xs-6 col-md-4">
	<img width="300" src="static/qcs_bullets.gif">
  </div>
</div>
<div class="row">

  <div class="col-xs-6">
	<img width="640" src="static/qcs_bottom.gif">
  </div>
</div>
</div>
{% endblock %}
