{% extends "index.html" %}
{% block body %}
<h3>Our Company</h3>
<div class="row">
  <div class="col-md-8">
<h4>Welcome to Quality Control Systems, Inc. Mechanical Contractors!</h4>
<p>QCS has been providing quality construction services to the Chicagoland area since 1994. At every level of the company, our staff is dedicated to doing the job right; a project is not complete until we have satisfied our clients expectations.
We offer value for our clients by providing innovative mechanical solutions and superior project planning. Our clients encompass a wide range of industries including: commercial, educational, governmental, healthcare, industrial and other highly
specialized facilities. Our diverse experience allows us to perform basic piping repairs to multifaceted complex HVAC projects.
</p>
<p>Our dedicated, experienced, and highly motivated team of mechanical professionals understands and appreciates the importance of completing projects on time and within budget, as well as creating a safe job site environment.
</p>
<p>QCS continues to maintain our long established reputation for unmatched level of quality, performance and service. Our employees average more than 20 years in mechanical construction. Our managers contribute technical expertise based on decades
in the industry, upholding the highest levels of professionalism and integrity.</p>
<p><i>“The bitterness of poor quality remains long after the sweetness of low price is forgotten”<br>– Benjamin Franklin</i></p>
  </div>
<div class="col-md-4">
<img src="static/qcs_company.gif">
<img src="static/qcs_company2.gif">
</div>
</div>
{% endblock %}
