{% extends "index.html" %}
{% block body %}

<h3>Services</h3>

<h5><b><center>Commercial &#9642; Educational &#9642; Governmental &#9642; Health Care &#9642; Industrial &#9642; Specialized Facilities</center></b></h5>
<div class="row">
  <div class="col-md-8">
<h5>QCS is ready to handle all your HVAC needs.</h5>
<b>Services Include</b>

<ul>
<li>HVAC industrial and institutional piping systems including but not limited to</li>

<ul>
<li>Certified medical gas</li>
<li>Compressed air</li>
<li>Condenser water</li>
<li>Dual temperatures</li>
<li>Geothermal</li>
<li>Hydronic heating and cooling</li>
<li>Laboratory gas</li>
<li>Natural gas</li>
<li>Radiant heating</li>
<li>Refrigeration</li>
<li>Specialize product and fluid handling</li>
<li>Steam and steam condensate</li>
</ul>

<li>Equipment installation and replacement</li>

<ul>
<li>Air handling units, indoor</li>
<li>Computer room climate control units</li>
<li>Condensing units and compressors</li>
<li>Cooling tower and chillers</li>
<li>Custom roof top and air handling units</li>
<li>Heat recovery</li>
<li>Humidification and dehumidification systems</li>
<li>Make up air systems</li>
<li>Package rooftop and air handling units</li>
<li>Pumps, heat exchangers and accessories</li>
<li>Steam and hot water boilers</li>
</ul>
<li>Building Information Modeling (BIM) and Auto CAD 3-D design and drafting</li>
<li>In-house pre fabrication</li>
<li>Ventilation, temperature controls, building automation and test and balance</li>
</ul>

<b>Our service area</b>
<ul>
<li>Chicagoland and Northwest Indiana</li>
</ul>

<b>Bidding</b>
<ul>
<li>Private jobs</li>
<li>Public jobs</li>
</ul>

<b>QCS is signatory with</b>
<ul>
<li>Certified welders and pipefitters</li>
<ul>
<li>Local 501</li>
<li>Local 597</li>
</ul>
</ul>

<b>Commitment to safety</b>
<ul>
<li>Every supervisor and each employee in the field receives ongoing regular safety training.</li>
<li>Staff includes OSHA 30 hour certified personnel.</li>
</ul>

<b>Members of</b>
<ul>
<li>ASHRAE</li>
<li>Certified Welding Bureau</li>
<li>MCA</li>
<li>MCAA</li>
<li>NFPA</li>
</ul>
  </div>
  <div class="col-md-4">
<img width="300" src="static/qcs_services.gif">
  </div>

</div>{% endblock %}
