<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href="static/css/styles.css">
        <title>Nuggie</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/" class="active">Nuggie</a></li>
                </ul>
            <!--
                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="template">Template</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="contactus">Contact Us</a></li>
                </ul>
            -->
        </nav>
        {% block body %}
        {% endblock %}
    </body>
    <div class="footer">
    </div>
</html>
