{% extends "index.html" %}
{% block body %}
<h1>Madison Posts</h1>

<ul>
{% for item in html %}
<li>
{{ item.html|safe }}
</li>
{% endfor %}
</ul>

</br>

<button class="btn btn-default" id="edit" style="display:block">Add Post</button>

<form action="{{ url_for('services') }}" method=post>
<div id="form-group" style="display:none;padding-bottom:10px">
  <label for="edit">HTML</label>

            <textarea class="form-control" rows="10" name="html" value={{ html }}></textarea>

</div>
<button id="save" class="btn btn-success" type="submit" style="display:none" value=1>Save Changes</button>

</form>

<button class="btn btn-danger" id="cancel" style="display:none" value=0>Cancel</button>
<script>
$("button").click(function(){
    $("#form-group").toggle();
    $("#save").toggle();
    $("#edit").toggle();
    $("#cancel").toggle();
});
</script>
{% endblock %}
